html{
  overflow-y: scroll;
}

.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  min-height: 100%;
  padding-bottom: 70px;
}

#footer{
  position: absolute;
  padding-bottom: 10px;
  bottom: 0px;
}

@media (min-width: 992px) {
  .container {
    width: 65%;
  }

  #header{
    align-self: flex-end;
  }

  #main{
    margin: 20px;
  }

  #footer{
  }
}