.dateList{
  display: none;
}

.postList ul{
  list-style-type: none;
}

.postList li{
  line-height: 50px;
}

.postList li::after{
  content: "";
  display: block;
  width: auto;
  height: 4px;
  margin: 10px;
  border-top: 1px solid #abc;
  border-bottom: 1px solid #abc;
}

.postList li:last-child::after{
  display: none;
}

.postList li>a{
  display: inline-block;
  overflow: hidden;
  max-height: 98px;
  padding-left: 20px;
  text-decoration: none;
}

.postEcp{
  overflow: hidden;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 35px;
  color: #444;
}

@media (min-width: 992px) {
  .dateList{
    position: fixed;
    display: block;
    width: 100px;
    margin-left: -100px;
  }

  .dateList ul{
    padding-left: 10px;
    list-style-type: none;
  }

  .dateList li>a{
    display: block;
    text-decoration: none;
  }

  .dateList li>a:hover{
    background-color: #eef;
    transform: scale(1.1);
  }

  .postList li>a{
    display: block;
    height: 50px;
    background: radial-gradient(at 30px 10px, rgba(212, 212, 255, 1) 10%, rgba(0, 0, 0, 0) 60%);
    transition: height 0.30s ease-in;
  }

  .postList li>a:hover{
    height: 98px;
    transition: height 0.75s ease-in 0.3s;
  }

  .postUrl{
    color: #333;
  }

  .postUrl:hover{
    color: #111;
  }
}