---
layout: default
title: 我的博客
---
<link rel="stylesheet" href="/css/index.css">
<p> 最新文章 </p>
<div class="dateList">
  <ul>
    {% for post in site.posts %}
    <li>
      <a href="#{{ post.title }}">{{ post.date | date_to_string }}</a>
    </li>
    {% endfor%}
  </ul>
</div>
<div class="postList">
  <ul>
    {% for post in site.posts %}
    <li>
      <a id="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
        <div class="postUrl">{{ post.title }}</div>
        <div class="postEcp">{{ post.excerpt | remove: ' <p>' | remove: '</p>' }}</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>